label, input, select, textarea {
  display : block;
}

input, select, textarea {
  margin-bottom : 20px;
}

input {  
  width : 300px;
}

table, th, td {
  
  border : 1px solid black;
}

table {
  
  margin : auto;
}


